@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        color: #fff0f5;
        font-size: 1.25rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
}